html,
body {
  height: 100%;
  @media screen and (max-width: 599px) {
    .flag {
      display: flex;
      height: 40%;
      margin: 9rem 1%;
      .blue-stripe {
        width: 33.33%;
        background-color: #002664;
      }
      .white-stripe {
        width: 33.33%;
        background-color: #ffffff;
      }
      .red-stripe {
        width: 33.33%;
        background-color: #cc1e1e;
      }
      .green-stripe {
        width: 33.33%;
        background-color: #066e1c;
      }
      .orange-stripe {
        width: 33.33%;
        background-color: #ff6600;
      }
      .black-stripe {
        width: 33.33%;
        background-color: #000000;
      }
      .yellow-stripe {
        width: 33.33%;
        background-color: #fddb20;
      }
    }
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      #btn {
        width: 60%;
        padding: 3%;
        border-radius: 20px;
      }
      .blue-stripe {
        border: solid 8px #002664;
      }
      .white-stripe {
        border: solid 8px #ffffff;
      }
      .red-stripe {
        border: solid 8px #cc1e1e;
      }
      .green-stripe {
        border: solid 8px #066e1c;
      }
      .orange-stripe {
        border: solid 8px #ff6600;
      }
      .black-stripe {
        border: solid 8px #000000;
      }
      .yellow-stripe {
        border: solid 8px #fddb20;
      }
    }
  }
  @media screen and (min-width: 600px) and (max-width: 899px) {
    .flag {
      display: flex;
      height: 57%;
      margin: 5rem 2%;
      .blue-stripe {
        width: 33.33%;
        background-color: #002664;
      }
      .white-stripe {
        width: 33.33%;
        background-color: #ffffff;
      }
      .red-stripe {
        width: 33.33%;
        background-color: #cc1e1e;
      }
      .green-stripe {
        width: 33.33%;
        background-color: #066e1c;
      }
      .orange-stripe {
        width: 33.33%;
        background-color: #ff6600;
      }
      .black-stripe {
        width: 33.33%;
        background-color: #000000;
      }
      .yellow-stripe {
        width: 33.33%;
        background-color: #fddb20;
      }
      .indigo-stripe {
        width: 33.33%;
        background-color: #002664;
      }
    }
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      #btn {
        background-color: #c9f5d4;
        width: 40%;
        padding: 3%;
        border-radius: 20px;
      }
      .blue-stripe {
        border: solid 8px #002664;
      }
      .white-stripe {
        border: solid 8px #ffffff;
      }
      .red-stripe {
        border: solid 8px #cc1e1e;
      }
      .green-stripe {
        border: solid 8px #066e1c;
      }
      .orange-stripe {
        border: solid 8px #ff6600;
      }
      .black-stripe {
        border: solid 8px #000000;
      }
      .yellow-stripe {
        border: solid 8px #fddb20;
      }
    }
  }
  @media screen and (min-width: 900px) and (max-width: 1199px) {
    .flag {
      display: flex;
      height: 65%;
      margin: 3rem 8rem;
      .blue-stripe {
        width: 33.33%;
        background-color: #002664;
      }
      .white-stripe {
        width: 33.33%;
        background-color: #ffffff;
      }
      .red-stripe {
        width: 33.33%;
        background-color: #cc1e1e;
      }
      .green-stripe {
        width: 33.33%;
        background-color: #066e1c;
      }
      .orange-stripe {
        width: 33.33%;
        background-color: #ff6600;
      }
      .black-stripe {
        width: 33.33%;
        background-color: #000000;
      }
      .yellow-stripe {
        width: 33.33%;
        background-color: #fddb20;
      }
      .indigo-stripe {
        width: 33.33%;
        background-color: #002664;
      }
    }
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      #btn {
        background-color: #c9f5d4;
        width: 40%;
        padding: 3%;
        border-radius: 20px;
      }
      .blue-stripe {
        border: solid 8px #002664;
      }
      .white-stripe {
        border: solid 8px #ffffff;
      }
      .red-stripe {
        border: solid 8px #cc1e1e;
      }
      .green-stripe {
        border: solid 8px #066e1c;
      }
      .orange-stripe {
        border: solid 8px #ff6600;
      }
      .black-stripe {
        border: solid 8px #000000;
      }
      .yellow-stripe {
        border: solid 8px #fddb20;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .flag {
      display: flex;
      height: 70%;
      margin: 3rem 8rem;
      .blue-stripe {
        width: 33.33%;
        background-color: #002664;
      }
      .white-stripe {
        width: 33.33%;
        background-color: #ffffff;
      }
      .red-stripe {
        width: 33.33%;
        background-color: #cc1e1e;
      }
      .green-stripe {
        width: 33.33%;
        background-color: #066e1c;
      }
      .orange-stripe {
        width: 33.33%;
        background-color: #ff6600;
      }
      .black-stripe {
        width: 33.33%;
        background-color: #000000;
      }
      .yellow-stripe {
        width: 33.33%;
        background-color: #fddb20;
      }
    }
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      #btn {
        background-color: #c9f5d4;
        width: 40%;
        padding: 3%;
        border-radius: 20px;
      }
      .blue-stripe {
        border: solid 8px #002664;
      }
      .white-stripe {
        border: solid 8px #ffffff;
      }
      .red-stripe {
        border: solid 8px #cc1e1e;
      }
      .green-stripe {
        border: solid 8px #066e1c;
      }
      .orange-stripe {
        border: solid 8px #ff6600;
      }
      .black-stripe {
        border: solid 8px #000000;
      }
      .yellow-stripe {
        border: solid 8px #fddb20;
      }
    }
  }
}
