html,
body {
  height: 100%;
  @media screen and (max-width: 599px) {
    .flag {
      display: flex;
      height: 45%;
      margin: 5rem 2%;
      .blue-stripe {
        width: 33.33%;
        background-color: rgb(16, 16, 173);
      }
      .white-stripe {
        width: 33.33%;
        background-color: rgb(255, 255, 255);
      }
      .red-stripe {
        width: 33.33%;
        background-color: rgb(204, 30, 30);
      }
      .green-stripe {
        width: 33.33%;
        background-color: #066e1c;
      }
      .orange-stripe {
        width: 33.33%;
        background-color: #ff6600;
      }
      .black-stripe {
        width: 33.33%;
        background-color: #000000;
      }
      .yellow-stripe {
        width: 33.33%;
        background-color: #fddb20;
      }
      .indigo-stripe {
        width: 33.33%;
        background-color: #002664;
      }
      .cobalt-stripe {
        width: 33.33%;
        background-color: #012b7f;
      }
    }
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      .blue-stripe {
        border: solid 8px rgb(16, 16, 173);
      }
      .white-stripe {
        border: solid 8px rgb(255, 255, 255);
      }
      .red-stripe {
        border: solid 8px rgb(204, 30, 30);
      }
      .green-stripe {
        border: solid 8px #066e1c;
      }
      .orange-stripe {
        border: solid 8px #ff6600;
      }
      .black-stripe {
        border: solid 8px #000000;
      }
      .yellow-stripe {
        border: solid 8px #fddb20;
      }
      .indigo-stripe {
        border: solid 8px #002664;
      }
      .cobalt-stripe {
        border: solid 8px #012b7f;
      }
      #btn {
        background: linear-gradient(#012b7f, #ff6600);
        width: 40%;
        padding: 3%;
        border-radius: 20px;
      }
    }
  }
  @media screen and (min-width: 600px) and (max-width: 899px) {
    .flag {
      display: flex;
      height: 57%;
      margin: 5rem 2%;
      .blue-stripe {
        width: 33.33%;
        background-color: rgb(16, 16, 173);
      }
      .white-stripe {
        width: 33.33%;
        background-color: rgb(255, 255, 255);
      }
      .red-stripe {
        width: 33.33%;
        background-color: rgb(204, 30, 30);
      }
      .green-stripe {
        width: 33.33%;
        background-color: #066e1c;
      }
      .orange-stripe {
        width: 33.33%;
        background-color: #ff6600;
      }
      .black-stripe {
        width: 33.33%;
        background-color: #000000;
      }
      .yellow-stripe {
        width: 33.33%;
        background-color: #fddb20;
      }
      .indigo-stripe {
        width: 33.33%;
        background-color: #002664;
      }
      .cobalt-stripe {
        width: 33.33%;
        background-color: #012b7f;
      }
    }
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      .blue-stripe {
        border: solid 8px rgb(16, 16, 173);
      }
      .white-stripe {
        border: solid 8px rgb(255, 255, 255);
      }
      .red-stripe {
        border: solid 8px rgb(204, 30, 30);
      }
      .green-stripe {
        border: solid 8px #066e1c;
      }
      .orange-stripe {
        border: solid 8px #ff6600;
      }
      .black-stripe {
        border: solid 8px #000000;
      }
      .yellow-stripe {
        border: solid 8px #fddb20;
      }
      .indigo-stripe {
        border: solid 8px #002664;
      }
      .cobalt-stripe {
        border: solid 8px #012b7f;
      }
      #btn {
        background-color: #c9f5d4;
        width: 40%;
        padding: 3%;
        border-radius: 20px;
        .blue-stripe {
          background-color: rgb(16, 16, 173);
        }
        .white-stripe {
          background-color: rgb(255, 255, 255);
        }
        .red-stripe {
          background-color: rgb(204, 30, 30);
        }
        .green-stripe {
          background-color: #066e1c;
        }
        .orange-stripe {
          background-color: #ff6600;
        }
        .black-stripe {
          background-color: #000000;
        }
        .yellow-stripe {
          background-color: #fddb20;
        }
        .indigo-stripe {
          background-color: #002664;
        }
        .cobalt-stripe {
          background-color: #012b7f;
        }
      }
    }
  }
  @media screen and (min-width: 900px) and (max-width: 1199px) {
    .flag {
      display: flex;
      height: 65%;
      margin: 3rem 8rem;
      .blue-stripe {
        width: 33.33%;
        background-color: rgb(16, 16, 173);
      }
      .white-stripe {
        width: 33.33%;
        background-color: rgb(255, 255, 255);
      }
      .red-stripe {
        width: 33.33%;
        background-color: rgb(204, 30, 30);
      }
      .green-stripe {
        width: 33.33%;
        background-color: #066e1c;
      }
      .orange-stripe {
        width: 33.33%;
        background-color: #ff6600;
      }
      .black-stripe {
        width: 33.33%;
        background-color: #000000;
      }
      .yellow-stripe {
        width: 33.33%;
        background-color: #fddb20;
      }
      .indigo-stripe {
        width: 33.33%;
        background-color: #002664;
      }
      .cobalt-stripe {
        width: 33.33%;
        background-color: #012b7f;
      }
    }
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      .blue-stripe {
        border: solid 8px rgb(16, 16, 173);
      }
      .white-stripe {
        border: solid 8px rgb(255, 255, 255);
      }
      .red-stripe {
        border: solid 8px rgb(204, 30, 30);
      }
      .green-stripe {
        border: solid 8px #066e1c;
      }
      .orange-stripe {
        border: solid 8px #ff6600;
      }
      .black-stripe {
        border: solid 8px #000000;
      }
      .yellow-stripe {
        border: solid 8px #fddb20;
      }
      .indigo-stripe {
        border: solid 8px #002664;
      }
      .cobalt-stripe {
        border: solid 8px #012b7f;
      }
      #btn {
        background-color: #c9f5d4;
        width: 40%;
        padding: 3%;
        border-radius: 20px;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .flag {
      display: flex;
      height: 70%;
      margin: 3rem 8rem;
      .blue-stripe {
        width: 33.33%;
        background-color: rgb(16, 16, 173);
      }
      .white-stripe {
        width: 33.33%;
        background-color: rgb(255, 255, 255);
      }
      .red-stripe {
        width: 33.33%;
        background-color: rgb(204, 30, 30);
      }
      .green-stripe {
        width: 33.33%;
        background-color: #066e1c;
      }
      .orange-stripe {
        width: 33.33%;
        background-color: #ff6600;
      }
      .black-stripe {
        width: 33.33%;
        background-color: #000000;
      }
      .yellow-stripe {
        width: 33.33%;
        background-color: #fddb20;
      }
      .indigo-stripe {
        width: 33.33%;
        background-color: #002664;
      }
      .cobalt-stripe {
        width: 33.33%;
        background-color: #012b7f;
      }
    }
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      .blue-stripe {
        border: solid 8px rgb(16, 16, 173);
      }
      .white-stripe {
        border: solid 8px rgb(255, 255, 255);
      }
      .red-stripe {
        border: solid 8px rgb(204, 30, 30);
      }
      .green-stripe {
        border: solid 8px #066e1c;
      }
      .orange-stripe {
        border: solid 8px #ff6600;
      }
      .black-stripe {
        border: solid 8px #000000;
      }
      .yellow-stripe {
        border: solid 8px #fddb20;
      }
      .indigo-stripe {
        border: solid 8px #002664;
      }
      .cobalt-stripe {
        border: solid 8px #012b7f;
      }
      #btn {
        background-color: #c9f5d4;
        width: 40%;
        padding: 3%;
        border-radius: 20px;
      }
    }
  }
}
