html,
body {
  height: 100%;
}
@media screen and (max-width: 599px) {
  html .flag,
body .flag {
    display: flex;
    height: 45%;
    margin: 5rem 2%;
  }
  html .flag .blue-stripe,
body .flag .blue-stripe {
    width: 33.33%;
    background-color: rgb(16, 16, 173);
  }
  html .flag .white-stripe,
body .flag .white-stripe {
    width: 33.33%;
    background-color: rgb(255, 255, 255);
  }
  html .flag .red-stripe,
body .flag .red-stripe {
    width: 33.33%;
    background-color: rgb(204, 30, 30);
  }
  html .flag .green-stripe,
body .flag .green-stripe {
    width: 33.33%;
    background-color: #066e1c;
  }
  html .flag .orange-stripe,
body .flag .orange-stripe {
    width: 33.33%;
    background-color: #ff6600;
  }
  html .flag .black-stripe,
body .flag .black-stripe {
    width: 33.33%;
    background-color: #000000;
  }
  html .flag .yellow-stripe,
body .flag .yellow-stripe {
    width: 33.33%;
    background-color: #fddb20;
  }
  html .flag .indigo-stripe,
body .flag .indigo-stripe {
    width: 33.33%;
    background-color: #002664;
  }
  html .flag .cobalt-stripe,
body .flag .cobalt-stripe {
    width: 33.33%;
    background-color: #012b7f;
  }
  html .buttonContainer,
body .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html .buttonContainer .blue-stripe,
body .buttonContainer .blue-stripe {
    border: solid 8px rgb(16, 16, 173);
  }
  html .buttonContainer .white-stripe,
body .buttonContainer .white-stripe {
    border: solid 8px rgb(255, 255, 255);
  }
  html .buttonContainer .red-stripe,
body .buttonContainer .red-stripe {
    border: solid 8px rgb(204, 30, 30);
  }
  html .buttonContainer .green-stripe,
body .buttonContainer .green-stripe {
    border: solid 8px #066e1c;
  }
  html .buttonContainer .orange-stripe,
body .buttonContainer .orange-stripe {
    border: solid 8px #ff6600;
  }
  html .buttonContainer .black-stripe,
body .buttonContainer .black-stripe {
    border: solid 8px #000000;
  }
  html .buttonContainer .yellow-stripe,
body .buttonContainer .yellow-stripe {
    border: solid 8px #fddb20;
  }
  html .buttonContainer .indigo-stripe,
body .buttonContainer .indigo-stripe {
    border: solid 8px #002664;
  }
  html .buttonContainer .cobalt-stripe,
body .buttonContainer .cobalt-stripe {
    border: solid 8px #012b7f;
  }
  html .buttonContainer #btn,
body .buttonContainer #btn {
    background-color: #c9f5d4;
    width: 40%;
    padding: 3%;
    border-radius: 20px;
  }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  html .flag,
body .flag {
    display: flex;
    height: 57%;
    margin: 5rem 2%;
  }
  html .flag .blue-stripe,
body .flag .blue-stripe {
    width: 33.33%;
    background-color: rgb(16, 16, 173);
  }
  html .flag .white-stripe,
body .flag .white-stripe {
    width: 33.33%;
    background-color: rgb(255, 255, 255);
  }
  html .flag .red-stripe,
body .flag .red-stripe {
    width: 33.33%;
    background-color: rgb(204, 30, 30);
  }
  html .flag .green-stripe,
body .flag .green-stripe {
    width: 33.33%;
    background-color: #066e1c;
  }
  html .flag .orange-stripe,
body .flag .orange-stripe {
    width: 33.33%;
    background-color: #ff6600;
  }
  html .flag .black-stripe,
body .flag .black-stripe {
    width: 33.33%;
    background-color: #000000;
  }
  html .flag .yellow-stripe,
body .flag .yellow-stripe {
    width: 33.33%;
    background-color: #fddb20;
  }
  html .flag .indigo-stripe,
body .flag .indigo-stripe {
    width: 33.33%;
    background-color: #002664;
  }
  html .flag .cobalt-stripe,
body .flag .cobalt-stripe {
    width: 33.33%;
    background-color: #012b7f;
  }
  html .buttonContainer,
body .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html .buttonContainer .blue-stripe,
body .buttonContainer .blue-stripe {
    border: solid 8px rgb(16, 16, 173);
  }
  html .buttonContainer .white-stripe,
body .buttonContainer .white-stripe {
    border: solid 8px rgb(255, 255, 255);
  }
  html .buttonContainer .red-stripe,
body .buttonContainer .red-stripe {
    border: solid 8px rgb(204, 30, 30);
  }
  html .buttonContainer .green-stripe,
body .buttonContainer .green-stripe {
    border: solid 8px #066e1c;
  }
  html .buttonContainer .orange-stripe,
body .buttonContainer .orange-stripe {
    border: solid 8px #ff6600;
  }
  html .buttonContainer .black-stripe,
body .buttonContainer .black-stripe {
    border: solid 8px #000000;
  }
  html .buttonContainer .yellow-stripe,
body .buttonContainer .yellow-stripe {
    border: solid 8px #fddb20;
  }
  html .buttonContainer .indigo-stripe,
body .buttonContainer .indigo-stripe {
    border: solid 8px #002664;
  }
  html .buttonContainer .cobalt-stripe,
body .buttonContainer .cobalt-stripe {
    border: solid 8px #012b7f;
  }
  html .buttonContainer #btn,
body .buttonContainer #btn {
    background-color: #c9f5d4;
    width: 40%;
    padding: 3%;
    border-radius: 20px;
  }
  html .buttonContainer #btn .blue-stripe,
body .buttonContainer #btn .blue-stripe {
    background-color: rgb(16, 16, 173);
  }
  html .buttonContainer #btn .white-stripe,
body .buttonContainer #btn .white-stripe {
    background-color: rgb(255, 255, 255);
  }
  html .buttonContainer #btn .red-stripe,
body .buttonContainer #btn .red-stripe {
    background-color: rgb(204, 30, 30);
  }
  html .buttonContainer #btn .green-stripe,
body .buttonContainer #btn .green-stripe {
    background-color: #066e1c;
  }
  html .buttonContainer #btn .orange-stripe,
body .buttonContainer #btn .orange-stripe {
    background-color: #ff6600;
  }
  html .buttonContainer #btn .black-stripe,
body .buttonContainer #btn .black-stripe {
    background-color: #000000;
  }
  html .buttonContainer #btn .yellow-stripe,
body .buttonContainer #btn .yellow-stripe {
    background-color: #fddb20;
  }
  html .buttonContainer #btn .indigo-stripe,
body .buttonContainer #btn .indigo-stripe {
    background-color: #002664;
  }
  html .buttonContainer #btn .cobalt-stripe,
body .buttonContainer #btn .cobalt-stripe {
    background-color: #012b7f;
  }
}
@media screen and (min-width: 900px) and (max-width: 1199px) {
  html .flag,
body .flag {
    display: flex;
    height: 65%;
    margin: 3rem 8rem;
  }
  html .flag .blue-stripe,
body .flag .blue-stripe {
    width: 33.33%;
    background-color: rgb(16, 16, 173);
  }
  html .flag .white-stripe,
body .flag .white-stripe {
    width: 33.33%;
    background-color: rgb(255, 255, 255);
  }
  html .flag .red-stripe,
body .flag .red-stripe {
    width: 33.33%;
    background-color: rgb(204, 30, 30);
  }
  html .flag .green-stripe,
body .flag .green-stripe {
    width: 33.33%;
    background-color: #066e1c;
  }
  html .flag .orange-stripe,
body .flag .orange-stripe {
    width: 33.33%;
    background-color: #ff6600;
  }
  html .flag .black-stripe,
body .flag .black-stripe {
    width: 33.33%;
    background-color: #000000;
  }
  html .flag .yellow-stripe,
body .flag .yellow-stripe {
    width: 33.33%;
    background-color: #fddb20;
  }
  html .flag .indigo-stripe,
body .flag .indigo-stripe {
    width: 33.33%;
    background-color: #002664;
  }
  html .flag .cobalt-stripe,
body .flag .cobalt-stripe {
    width: 33.33%;
    background-color: #012b7f;
  }
  html .buttonContainer,
body .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html .buttonContainer .blue-stripe,
body .buttonContainer .blue-stripe {
    border: solid 8px rgb(16, 16, 173);
  }
  html .buttonContainer .white-stripe,
body .buttonContainer .white-stripe {
    border: solid 8px rgb(255, 255, 255);
  }
  html .buttonContainer .red-stripe,
body .buttonContainer .red-stripe {
    border: solid 8px rgb(204, 30, 30);
  }
  html .buttonContainer .green-stripe,
body .buttonContainer .green-stripe {
    border: solid 8px #066e1c;
  }
  html .buttonContainer .orange-stripe,
body .buttonContainer .orange-stripe {
    border: solid 8px #ff6600;
  }
  html .buttonContainer .black-stripe,
body .buttonContainer .black-stripe {
    border: solid 8px #000000;
  }
  html .buttonContainer .yellow-stripe,
body .buttonContainer .yellow-stripe {
    border: solid 8px #fddb20;
  }
  html .buttonContainer .indigo-stripe,
body .buttonContainer .indigo-stripe {
    border: solid 8px #002664;
  }
  html .buttonContainer .cobalt-stripe,
body .buttonContainer .cobalt-stripe {
    border: solid 8px #012b7f;
  }
  html .buttonContainer #btn,
body .buttonContainer #btn {
    background-color: #c9f5d4;
    width: 40%;
    padding: 3%;
    border-radius: 20px;
  }
}
@media screen and (min-width: 1200px) {
  html .flag,
body .flag {
    display: flex;
    height: 70%;
    margin: 3rem 8rem;
  }
  html .flag .blue-stripe,
body .flag .blue-stripe {
    width: 33.33%;
    background-color: rgb(16, 16, 173);
  }
  html .flag .white-stripe,
body .flag .white-stripe {
    width: 33.33%;
    background-color: rgb(255, 255, 255);
  }
  html .flag .red-stripe,
body .flag .red-stripe {
    width: 33.33%;
    background-color: rgb(204, 30, 30);
  }
  html .flag .green-stripe,
body .flag .green-stripe {
    width: 33.33%;
    background-color: #066e1c;
  }
  html .flag .orange-stripe,
body .flag .orange-stripe {
    width: 33.33%;
    background-color: #ff6600;
  }
  html .flag .black-stripe,
body .flag .black-stripe {
    width: 33.33%;
    background-color: #000000;
  }
  html .flag .yellow-stripe,
body .flag .yellow-stripe {
    width: 33.33%;
    background-color: #fddb20;
  }
  html .flag .indigo-stripe,
body .flag .indigo-stripe {
    width: 33.33%;
    background-color: #002664;
  }
  html .flag .cobalt-stripe,
body .flag .cobalt-stripe {
    width: 33.33%;
    background-color: #012b7f;
  }
  html .buttonContainer,
body .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html .buttonContainer .blue-stripe,
body .buttonContainer .blue-stripe {
    border: solid 8px rgb(16, 16, 173);
  }
  html .buttonContainer .white-stripe,
body .buttonContainer .white-stripe {
    border: solid 8px rgb(255, 255, 255);
  }
  html .buttonContainer .red-stripe,
body .buttonContainer .red-stripe {
    border: solid 8px rgb(204, 30, 30);
  }
  html .buttonContainer .green-stripe,
body .buttonContainer .green-stripe {
    border: solid 8px #066e1c;
  }
  html .buttonContainer .orange-stripe,
body .buttonContainer .orange-stripe {
    border: solid 8px #ff6600;
  }
  html .buttonContainer .black-stripe,
body .buttonContainer .black-stripe {
    border: solid 8px #000000;
  }
  html .buttonContainer .yellow-stripe,
body .buttonContainer .yellow-stripe {
    border: solid 8px #fddb20;
  }
  html .buttonContainer .indigo-stripe,
body .buttonContainer .indigo-stripe {
    border: solid 8px #002664;
  }
  html .buttonContainer .cobalt-stripe,
body .buttonContainer .cobalt-stripe {
    border: solid 8px #012b7f;
  }
  html .buttonContainer #btn,
body .buttonContainer #btn {
    background-color: #c9f5d4;
    width: 40%;
    padding: 3%;
    border-radius: 20px;
  }
}

/*# sourceMappingURL=jeu.css.map */
