html,
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(0.3turn, #002664, #ffffff, #cc1e1e, #066e1c, #ff6600, #000000, #fddb20); }
  html :export,
  body :export {
    blue: #002664;
    white: #ffffff;
    red: #cc1e1e;
    green: #066e1c;
    orange: #ff6600;
    black: #000000;
    yellow: #fddb20; }
  @media screen and (max-width: 699px) {
    html .flag,
    body .flag {
      padding: 3rem;
      display: flex;
      height: 40%; }
      html .flag .blue,
      body .flag .blue {
        width: 33.33%;
        background-color: #002664; }
      html .flag .white,
      body .flag .white {
        width: 33.33%;
        background-color: #ffffff; }
      html .flag .red,
      body .flag .red {
        width: 33.33%;
        background-color: #cc1e1e; }
      html .flag .green,
      body .flag .green {
        width: 33.33%;
        background-color: #066e1c; }
      html .flag .orange,
      body .flag .orange {
        width: 33.33%;
        background-color: #ff6600; }
      html .flag .black,
      body .flag .black {
        width: 33.33%;
        background-color: #000000; }
      html .flag .yellow,
      body .flag .yellow {
        width: 33.33%;
        background-color: #fddb20; }
    html .buttonContainer,
    body .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center; }
      html .buttonContainer #buttonToChangeColors,
      body .buttonContainer #buttonToChangeColors {
        border: 0px;
        width: 60%;
        padding: 3%;
        border-radius: 20px; } }
  @media screen and (min-width: 700px) and (max-width: 899px) {
    html .flag,
    body .flag {
      padding: 3rem;
      display: flex;
      height: 57%; }
      html .flag .blue,
      body .flag .blue {
        width: 33.33%;
        background-color: #002664; }
      html .flag .white,
      body .flag .white {
        width: 33.33%;
        background-color: #ffffff; }
      html .flag .red,
      body .flag .red {
        width: 33.33%;
        background-color: #cc1e1e; }
      html .flag .green,
      body .flag .green {
        width: 33.33%;
        background-color: #066e1c; }
      html .flag .orange,
      body .flag .orange {
        width: 33.33%;
        background-color: #ff6600; }
      html .flag .black,
      body .flag .black {
        width: 33.33%;
        background-color: #000000; }
      html .flag .yellow,
      body .flag .yellow {
        width: 33.33%;
        background-color: #fddb20; }
    html .buttonContainer,
    body .buttonContainer {
      margin-top: 9vw;
      display: flex;
      justify-content: center;
      align-items: center; }
      html .buttonContainer #buttonToChangeColors,
      body .buttonContainer #buttonToChangeColors {
        border: 0px;
        width: 40vw;
        padding: 3%;
        border-radius: 20px; } }
  @media screen and (min-width: 900px) and (max-width: 1199px) {
    html .flag,
    body .flag {
      padding: 3rem;
      display: flex;
      height: 65%; }
      html .flag .blue,
      body .flag .blue {
        width: 33.33%;
        background-color: #002664; }
      html .flag .white,
      body .flag .white {
        width: 33.33%;
        background-color: #ffffff; }
      html .flag .red,
      body .flag .red {
        width: 33.33%;
        background-color: #cc1e1e; }
      html .flag .green,
      body .flag .green {
        width: 33.33%;
        background-color: #066e1c; }
      html .flag .orange,
      body .flag .orange {
        width: 33.33%;
        background-color: #ff6600; }
      html .flag .black,
      body .flag .black {
        width: 33.33%;
        background-color: #000000; }
      html .flag .yellow,
      body .flag .yellow {
        width: 33.33%;
        background-color: #fddb20; }
      html .flag .indigo,
      body .flag .indigo {
        width: 33.33%;
        background-color: #002664; }
    html .buttonContainer,
    body .buttonContainer {
      display: flex;
      margin-top: 9vw;
      justify-content: center;
      align-items: center; }
      html .buttonContainer #buttonToChangeColors,
      body .buttonContainer #buttonToChangeColors {
        border: 0px;
        width: 40%;
        padding: 3%;
        border-radius: 20px; } }
  @media screen and (min-width: 1200px) {
    html .flag,
    body .flag {
      padding: 3rem;
      display: flex;
      height: 40vw; }
      html .flag .blue,
      body .flag .blue {
        width: 33.33%;
        background-color: #002664; }
      html .flag .white,
      body .flag .white {
        width: 33.33%;
        background-color: #ffffff; }
      html .flag .red,
      body .flag .red {
        width: 33.33%;
        background-color: #cc1e1e; }
      html .flag .green,
      body .flag .green {
        width: 33.33%;
        background-color: #066e1c; }
      html .flag .orange,
      body .flag .orange {
        width: 33.33%;
        background-color: #ff6600; }
      html .flag .black,
      body .flag .black {
        width: 33.33%;
        background-color: #000000; }
      html .flag .yellow,
      body .flag .yellow {
        width: 33.33%;
        background-color: #fddb20; }
    html .buttonContainer,
    body .buttonContainer {
      margin-top: 7vw;
      display: flex;
      justify-content: center;
      align-items: center; }
      html .buttonContainer #buttonToChangeColors,
      body .buttonContainer #buttonToChangeColors {
        border: 0px;
        width: 40%;
        padding: 3%;
        border-radius: 20px; } }

/*# sourceMappingURL=jeu.css.map */
